/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  font-style: normal;
  color: var(--black-bkg);
}

.flex {
  display: flex;
}

img {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 91.4%;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: #222222;
}

.header .header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header .header__logo-loup {
  display: flex;
}

.header .header__logo {
  margin: 0 41px 0 0;
}

.header .header__search {
  position: relative;
}

.header .header__search-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 1px;
  fill: white;
  margin: 5px 0 0 40px;
  cursor: pointer;
}

.header .header__search-input {
  border: none;
  position: absolute;
  outline: 1px solid white;
  background-color: transparent;
  height: 30px;
  margin: 3px 0 0 8px;
  color: white;
  top: 3px;
  left: 40px;
  outline: none;
  padding: 0 0 0 40px;
}

.header .header__list {
  display: flex;
  align-items: center;
}

.header .header__burger {
  border: none;
  background-color: transparent;
}

.header .header__icon {
  fill: white;
}

.header .header__link {
  margin: 0 0 0 34px;
}

@media (max-width: 767px) {
  .header .header__link {
    display: none;
  }
}

.header .header__nav {
  display: none;
  position: absolute;
  width: 232px;
  top: 75px;
  right: 0;
  background-color: white;
  padding: 37px 0 37px 34px;
  z-index: 2;
}

.header .header__burger:hover + .header__nav,
.header .header__burger:focus + .header__nav {
  display: block;
}

.header .header__nav:hover {
  display: block;
}

.header .header__nav-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 4px;
}

.header .header__nav-item {
  margin: 20px 0 0;
}

.header .nav-sub-item .nav-sub-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.header .nav-sub-item .nav-sub-item__list {
  padding: 0 0 0 21px;
}

.header .nav-sub-item .nav-sub-item__item {
  margin: 12px 0 0;
}

.header .nav-sub-item .nav-sub-item__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  font-style: normal;
  color: #6F6E6E;
  text-transform: capitalize;
  text-decoration: none;
}

.brand {
  display: flex;
}

.brand .brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .brand .brand__img {
    display: none;
  }
}

.brand .brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}

@media (max-width: 1599px) {
  .brand .brand__title-wrp {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand .brand__title-wrp {
    text-align: center;
    min-height: 363px;
  }
}

@media (max-width: 425px) {
  .brand .brand__title-wrp {
    width: 55.5%;
  }
}

.brand .brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900px;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1599px) {
  .brand .brand__title {
    width: 80%;
    font-size: 44px;
    line-height: 52px;
    font-weight: 900px;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__title {
    width: 236px;
    margin: 0 auto;
    font-size: 38px;
    line-height: 46px;
    font-weight: 900px;
    font-style: normal;
  }
}

.brand .brand__subtitle {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700px;
  font-style: normal;
}

@media (max-width: 1599px) {
  .brand .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700px;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700px;
    font-style: normal;
  }
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
}

.brand .brand__title::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  left: -28px;
  display: block;
}

@media (max-width: 767px) {
  .brand .brand__title::before {
    height: 70px;
  }
}

.sales {
  margin: 64px 0 97px;
}

@media (max-width: 1599px) {
  .sales {
    margin: 19px 0 97px;
  }
}

@media (max-width: 425px) {
  .sales {
    margin: 32px 0 64px;
  }
}

.sales .sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.sales .sales__item {
  padding: 20px;
  box-sizing: border-box;
  width: 31.6%;
  height: 260px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1599px) {
  .sales .sales__item {
    height: 167px;
    width: 30.2%;
  }
}

@media (max-width: 425px) {
  .sales .sales__item {
    margin: 32px 0 0;
    height: 248px;
    width: 100%;
  }
}

.sales .sales__item--women {
  background-image: url(../img/primer-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sales .sales__item--men {
  background-image: url(../img/primer-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sales .sales__item--kids {
  background-image: url(../img/primer-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sales .sales__item-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400px;
  font-style: normal;
  color: #FFFFFF;
  align-items: center;
  width: 154px;
}

.sales .sales__item-text-pink {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  font-style: normal;
  color: #F16D7F;
}

.sales .sales__item--shoes {
  margin: 30px 0 0;
  height: 180px;
  width: 100%;
  background-image: url(../img/primer-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1599px) {
  .sales .sales__item--shoes {
    height: 116px;
  }
}

@media (max-width: 767px) {
  .sales .sales__item--shoes {
    height: 111px;
  }
}

.sales .sales__item-text--shoes {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400px;
  font-style: normal;
  color: white;
  text-align: center;
  width: 160px;
}

.catalog .catalog__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400px;
  font-style: normal;
  color: #222222;
  text-align: center;
  text-transform: capitalize;
}

.catalog .catalog__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  font-style: normal;
  color: #9F9F9F;
  text-align: center;
  padding: 6px 0 18px;
}

@media (max-width: 767px) {
  .catalog .catalog__text {
    padding: 3px 0 42px;
  }
}

@media (max-width: 425px) {
  .catalog .catalog__text {
    padding: 3px 0 34px;
  }
}

.catalog .catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog .catalog__item {
  width: 31.6%;
  box-sizing: border-box;
  background-color: #F8F8F8;
  margin: 30px 0 0 0;
}

@media (max-width: 767px) {
  .catalog .catalog__item {
    width: 46.9%;
  }
}

@media (max-width: 425px) {
  .catalog .catalog__item {
    width: 100%;
  }
}

.catalog .catalog__item-img {
  width: 100%;
}

.catalog .catalog__item-overlay-button {
  position: relative;
}

.catalog .catalog__item-overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

.catalog .catalog__item-button {
  border: 1px solid #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
  background: transparent;
  top: 50%;
  left: 50%;
  padding: 10px 14px 10px;
  align-items: center;
}

.catalog .catalog__item-button-img {
  margin: 0 11px 0 0;
}

.catalog .catalog__item-overlay-button:hover .catalog__item-overlay,
.catalog .catalog__item-overlay-button:hover .catalog__item-button {
  display: block;
}

.catalog .catalog__item-overlay-button:hover .catalog__item-button {
  display: flex;
}

.catalog .catalog__item-title {
  padding: 25px 0 12px 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.catalog .catalog__item-text {
  padding: 0 28px 0 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.catalog .catalog__item-text-price {
  padding: 18px 0 20px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.catalog .catalog__link {
  text-align: center;
  margin: 48px 0 95px;
}

@media (max-width: 767px) {
  .catalog {
    margin: 32px 0 65px;
  }
}

@media (max-width: 425px) {
  .catalog {
    margin: 41px 0 96px;
  }
}

.catalog .catalog__link-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  text-decoration: none;
  text-transform: capitalize;
}

.catalog .catalog__link-button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.information {
  background-color: #222222;
}

.information .information__list {
  display: flex;
  min-height: 341px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .information .information__list {
    flex-direction: column;
    padding: 0 0 64px;
  }
}

@media (max-width: 425px) {
  .information .information__list {
    padding: 0 0 81px;
  }
}

.information .information__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.6%;
  max-width: 360px;
  padding: 0 4px 0;
}

@media (max-width: 767px) {
  .information .information__item {
    width: 46.9%;
    margin: 46px 0 0;
  }
}

@media (max-width: 425px) {
  .information .information__item {
    width: 100%;
  }
}

.information .information__item-img {
  max-width: 44.99px;
}

.information .information__item-title {
  font-size: 19.96px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  color: #FBFBFB;
  text-align: center;
  margin: 28px 0 16px;
}

.information .information__item-text {
  font-size: 13.972px;
  line-height: 17px;
  font-weight: 300px;
  font-style: normal;
  text-align: center;
  color: #FBFBFB;
}

.connect {
  background-image: url(../img/fon-footer.jpg);
  background-size: cover;
  width: 100%;
  min-height: 448px;
}

.connect .connect__wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 448px;
}

@media (max-width: 767px) {
  .connect .connect__wrp {
    flex-direction: column;
    padding: 53px 0 140px;
  }
}

.connect .connect__wrp .connect__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

@media (max-width: 767px) {
  .connect .connect__wrp .connect__bloc {
    width: 66%;
  }
}

@media (max-width: 425px) {
  .connect .connect__wrp .connect__bloc {
    width: 100%;
  }
}

.connect .connect__wrp .connect__img {
  text-align: center;
  margin: 0 0 30px;
  max-width: 96px;
}

.connect .connect__wrp .connect__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  text-align: center;
  color: #222224;
}

.connect .connect__wrp .connect__text-cursive {
  font-style: oblique;
}

.connect .connect__wrp .connect__input {
  padding: 0 0 0 20px;
}

@media (max-width: 425px) {
  .connect .connect__wrp .connect__input {
    width: 100%;
  }
}

.connect .connect__wrp .connect__subscribe {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 167.2%;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  color: #222224;
  margin: 0 0 32px;
}

@media (max-width: 767px) {
  .connect .connect__wrp .connect__subscribe {
    margin: 0 0 27px;
  }
}

@media (max-width: 425px) {
  .connect .connect__wrp .connect__subscribe {
    margin: 0 0 22px;
  }
}

.connect .connect__wrp .connect__subscribe-bold {
  font-size: 24px;
  line-height: 167.2%;
  font-weight: 700px;
  font-style: normal;
  display: block;
  font-weight: bold;
}

.connect .connect__wrp [type='email'] {
  height: 49px;
  width: 226px;
  background: #E1E1E1;
  border-radius: 30px 0 0 30px;
  border: none;
  padding: 0 0 0 22px;
}

@media (max-width: 425px) {
  .connect .connect__wrp [type='email'] {
    width: 100%;
  }
}

.connect .connect__wrp .connect__subscribe-form {
  display: flex;
  justify-content: center;
}

@media (max-width: 425px) {
  .connect .connect__wrp .connect__subscribe-form {
    width: 100%;
  }
}

.connect .connect__wrp .connect__subscribe-button {
  height: 49px;
  width: 100px;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 0 0 0 17px;
  border-radius: 0 30px 30px 0;
}

@media (max-width: 425px) {
  .connect .connect__wrp .connect__subscribe-button {
    padding: 0 5px 0;
  }
}

.rights {
  background-color: #222222;
}

.rights .rights__bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

@media (max-width: 425px) {
  .rights .rights__bloc {
    flex-direction: column-reverse;
    padding: 43px 0 9px;
  }
}

.rights .rights__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400px;
  font-style: normal;
  color: #FBFBFB;
}

@media (max-width: 425px) {
  .rights .rights__text {
    margin: 40px 0 0;
  }
}

.rights .rights__list {
  display: flex;
}

.product-title {
  background-color: #F1E4E6;
  height: 148px;
}

.product-title .product-title-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}

.product-title .product-title__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400px;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.product-title .product-title__list {
  display: flex;
  list-style-type: none;
}

.product-title .product-title__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300px;
  font-style: normal;
  color: #636363;
}

.product-title .product-title__link-pink {
  color: #F16D7F;
}

.slide__img {
  width: 100%;
  max-width: 597px;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  text-align: center;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: #2A2A2A;
}

/* rtl:options: {
    "autoRename": true,
    "stringMap":[ {
      "name"    : "prev-next",
      "search"  : "prev",
      "replace" : "next"
    } ]
  } */
.carousel-control-prev-icon {
  fill: #000000;
  background-image: url(../../img/prev-icon.svg);
}

.carousel-control-next-icon {
  background-image: url();
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-dark .carousel-caption {
  color: #000;
}

.woomen .woomen-wrp {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  left: 14.41%;
  right: 14.34%;
  top: 32.26%;
  bottom: 47.05%;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
}

.woomen .woomen__title-pink {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300px;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.woomen .woomen__title-black {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300px;
  font-style: normal;
  color: #4D4D4D;
  text-transform: uppercase;
}

.woomen .woomen__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300px;
  font-style: normal;
  color: #5E5E5E;
  width: 34.7%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */