body {
    font-family: 'Lato', sans-serif;
    @include font (14px, 17px, 400px);
    color: var(--black-bkg);
}

.flex {
    display: flex;
}

img {
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    @include tablet {
        max-width: 75%;
    }

    @include mobile {
        max-width: 91.4%;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}