$black-bkg: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;

$desktop-width: 1599px;
$tablet-mid-width: 1200px;
$tablet-width: 767px;
$mobile-max-width: 536px;
$mobile-width: 425px;
$mobile-min: 300px;