.brand {
    display: flex;

    .brand__img {
        width: 50%;
        height: auto;

        @include mobile {
            display: none;
        }
    }

    .brand__title-wrp {
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;
        background-color: $light-pink;

        @include tablet {
            padding: 0 0 0 68px;
        }

        @include mobile {
            text-align: center;
            // padding: 0 0 0 83px;
            min-height: 363px;
        }

        @include mobile-min {
            width: 55.5%;
        }
    }

    .brand__title {
        @include font(48px, 58px, 900px);
        text-transform: uppercase;
        position: relative;

        @include tablet {
            width: 80%;
            @include font(44px, 52px, 900px);
        }

        @include mobile {
            width: 236px;
            margin: 0 auto;
            @include font(38px, 46px, 900px);
        }
    }

    .brand__subtitle {
        display: block;
        @include font(37px, 44px, 700px);

        @include tablet {
            @include font(24px, 29px, 700px);
        }

        @include mobile {
            @include font(20px, 24px, 700px);
        }
    }

    .brand__subtitle-pink {
        color: $dark-pink;
    }

    .brand__title::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 92px;
        background-color: $dark-pink;
        left: -28px;
        display: block;

        @include mobile {
            height: 70px;
        }
    }


}

// @media (max-width: $mobile-width) {
//     .brand__title-wrp {
//         padding: 0 0 0 83px;
//         min-height: 363px;
//     }

//     .brand__img {
//         display: none;
//     }

//     .brand__title {
//         width: 80%;
//         margin: 0 auto;
//         @include font(38px, 46px, 900px);
//     }

//     .brand__subtitle {
//         @include font(20px, 24px, 700px)
//     }
// }