.catalog__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    text-transform: capitalize;
}

.catalog__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    padding: 6px 0 48px;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    width: 360px;
    min-height: 581px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

.catalog__item-title {
    padding: 25px 0 12px 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.catalog__item-text {
    padding: 0 28px 0 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.catalog__item-text-price {
    padding: 18px 0 20px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $dark-pink;
}

.catalog__link {
    text-align: center;
    margin: 48px 0 95px;
}

.catalog__link-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    text-decoration: none;
    text-transform: capitalize;
}

.catalog__link-button:hover {
    background-color: $dark-pink;
    color: #FFFFFF;
}