.catalog {
    .catalog__title {
        @include font(30px, 36px, 400px);
        color: #222222;
        text-align: center;
        text-transform: capitalize;
    }

    .catalog__text {
        @include font(14px, 17px, 400px);
        color: #9F9F9F;
        text-align: center;
        padding: 6px 0 18px;
    }

    .catalog__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .catalog__item {
        width: 360px;
        min-height: 581px;
        box-sizing: border-box;
        background-color: #F8F8F8;
        margin: 30px 0 0 0;
    }

    .catalog__item-overlay-button {
        position: relative;
    }

    .catalog__item-overlay {
        width: 100%;
        min-height: 420px;
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        display: none;
        top: 0;
        left: 0;
    }

    .catalog__item-button {
        border: 1px solid #FFFFFF;
        @include font(14px, 17px, 400px);
        color: #FFFFFF;
        position: absolute;
        transform: translate(-50%, -50%);
        display: none;
        background: transparent;
        top: 50%;
        left: 50%;
        padding: 10px 14px 10px;
        align-items: center;
    }

    .catalog__item-button-img {
        margin: 0 11px 0 0;
    }

    .catalog__item-overlay-button:hover .catalog__item-overlay,
    .catalog__item-overlay-button:hover .catalog__item-button {
        display: block;
    }

    .catalog__item-overlay-button:hover .catalog__item-button {
        display: flex;
    }

    .catalog__item-title {
        padding: 25px 0 12px 16px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        text-transform: uppercase;
    }

    .catalog__item-text {
        padding: 0 28px 0 16px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    .catalog__item-text-price {
        padding: 18px 0 20px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $dark-pink;
    }

    .catalog__link {
        text-align: center;
        margin: 48px 0 95px;
    }

    .catalog__link-button {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        border: 1px solid #FF6A6A;
        padding: 14px 38px;
        text-decoration: none;
        text-transform: capitalize;
    }

    .catalog__link-button:hover {
        background-color: $dark-pink;
        color: #FFFFFF;
    }
}