.rights {
    background-color: $black-bkg;

    .rights__bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;

        @include mobile-min {
            flex-direction: column-reverse;
            padding: 43px 0 9px;
        }
    }

    .rights__text {
        @include font (16px, 19px, 400px);
        color: #FBFBFB;
        margin: 0 0 0;

        @include mobile-min {
            margin: 40px 0 0;
        }
    }

    .rights__list {
        display: flex;
        margin: 0 0 0;
    }


}