.rights {
    background-color: $black-bkg;

    .rights__bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;
    }

    .rights__list {
        display: flex;
    }

    .rights__text {
        @include font (16px, 19px, 400px);
        color: #FBFBFB;
    }
}