.rights {
    background-color: $black-bkg;
    min-height: 79px;
}

.rights__bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights__list {
    display: flex;
}

.rights__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}