.sales {
    margin: 64px 0 97px;

    @include tablet {
        margin: 19px 0 97px;
    }

    @include mobile-min {
        margin: 32px 0 64px;
    }

    .sales__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-transform: uppercase;
    }

    .sales__item {
        padding: 20px;
        box-sizing: border-box;
        width: 31.6%;
        height: 260px;
        flex-direction: column;
        @include flex-center;
        text-align: center;

        @include tablet {
            height: 167px;
            width: 30.2%;
        }

        @include mobile-min {
            margin: 32px 0 0;
            height: 248px;
            width: 100%;
        }
    }

    .sales__item--women {
        background-image: url(../img/primer-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sales__item--men {
        background-image: url(../img/primer-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sales__item--kids {
        background-image: url(../img/primer-3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .sales__item-text {
        @include font(16px, 19px, 400px);
        color: #FFFFFF;
        align-items: center;
        width: 154px;
    }

    .sales__item-text-pink {
        @include font(24px, 28px, 700px);
        color: $dark-pink;
    }

    .sales__item--shoes {
        margin: 30px 0 0;
        height: 180px;
        width: 100%;
        background-image: url(../img/primer-4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        // background-size: cover;

        @include tablet {
            height: 116px;
        }

        @include mobile {
            height: 111px;
        }
    }

    .sales__item-text--shoes {
        @include font(16px, 19px, 400px);
        color: white;
        text-align: center;
        width: 160px;
    }
}

// @media (max-width: $taslet-width) {
//     .sales__item {
//         width: 232px;
//         min-height: 167px;
//     }

//     .sales__item--shoes {
//         height: 116px;
//     }
// }

// @media (max-width: $mobile-width) {
//     .sales__item {
//         width: 343px;
//         min-height: 247px;
//     }

//     .sales__item--shoes {
//         min-height: 111px;
//     }
// }