.sales {
    margin: 64px 0 97px;
}


.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
}

.sales__item-text {
    color: $dark-pink;
}

.sales__item--shoes {
    width: 100%;
}